body{
  height:100vh;
  background:linear-gradient(15deg, #caf7ec, #82edd4 );
}
.fp {
  opacity:0.65;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    width: 100px;
    height: 150px;
    background-color: #C51D31;
    border-radius: 60%/ 80%;
    background-image: repeating-radial-gradient(circle 4px at 25px 40px, rgba(165,114,87,0.8), transparent),
      radial-gradient(circle at top, #FFDFC4, #F0D5BE, #FFDCB2);

}

.tx{
  position:absolute;
  left:150px;
  width: 20%;
  height: 80px;
  line-height:80px;
  text-align:center;
  border-radius:10px;
  border:1px solid white;
  font-family:arial;
  font-size:2em;
  color:gray;
  
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);

#overlay {
	margin:0;
	position:absolute;
	width: 100vw;
	height: 100vh;
	background: #000;
}
p {
	font-family: 'Pacifico', cursive;
	font-size: 10vh;
	color: #fff;
	text-align: center;
	background: none;
}

