@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css);
@import url(http://yui.yahooapis.com/pure/0.3.0/pure-min.css);

html{
  background: #050812;
}
body{
  background: #050812;
     font-family: 'Lato', sans-serif;
	 font-weight: 200;
  max-width: 700px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 1px #000; 
  margin: 1em auto;
  padding: 0 1em 10em 1em;
  text-align: center;
  width: 100%;
    height: 100%;
}

.main-title {
font-size: 30px;
font-weight: bold;
color: #ffffff;
	
}


.secondary {
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	
}

.caption {
	font-size: 15px;
	color: #ffffff;
	font-weight: 200;
	
}

.caption2 {
	font-size: 15px;
	color: #ffffff;
	font-weight: 200;
	
	
}
.fa-map-marker{
  width:100%;
  height: 100%;
  font-size: 10em;
  color: #ffffff;
  text-shadow: 0 0 1px #000; 
  animation: bounce 1s linear 5;
}
button{
  box-shadow: 0 0 1px #ffffff; 
  position: relative;
  z-index: 100;
  color: #ffffff;
}
.result{
  margin: 2em 2em 1em 2em;
}
.result img{
  margin-top: 1em;
  border: 1px solid #ffffff; 
}
.fa-spinner{
  font-size: 3em;
}
span{font-size:.7em;color: #ffffff;}

@keyframes bounce {
	
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-7px);}
}



#header {
  position: relative;
  text-align: center;
  top: 10px;
}

.header {
  font-size: 50px;
     font-family: 'Lato', sans-serif;
	 font-weight: 200;
}


#container {
  position: absolute;
  top: 0;
  left: 0;
}

#horizontal {
  stroke: white;
}

#vertical {
  stroke: white;
}

#dot {
  stroke: #000;
  fill: none;
}

#outercircle {
  stroke: #A0A;
  fill: none;
}

#indicator {
  position: absolute;
  color: #ffffff;
  top: 10px;
  right: 10px;
  font-size: 0.75em;
  padding: 2px 10px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #AAA;
  border-radius: 5px;
}


.info {
     font-family: 'Lato', sans-serif;
	 font-weight: 200;
  font-size: 18px;
  color: #009902;
  float: left;
  padding-right: 10px;
}

.info-big {
     font-family: 'Lato', sans-serif;
	 font-weight: 200;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  float: left;
  padding-right: 10px;
}

.fp { 
     font-family: 'Lato', sans-serif;
	 font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  float: left;
}

#fingerprint { 
     font-family: 'Lato', sans-serif;
	 font-weight: 200;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  float: left;
}

br { clear: both; }

.navbar-custom a {
    color: #fff;
}